[mysqld]
# Basic settings
port = 33060
bind-address = 127.0.0.1
default-authentication-plugin = mysql_native_password

# Prevent reading global configurations
skip-name-resolve
# ADD THIS LINE TO DISABLE X-PLUGIN PORTS:
mysqlx = OFF

# Fine-tuning for localized development performance
innodb_buffer_pool_size = 64M
innodb_log_file_size = 16M
